.vs/StockMarketPredictor/v16/.suo
.vs/StockMarketPredictor/v16/Browse.VC.db
.vs/StockMarketPredictor/v16/Browse.VC.db-shm
.vs/StockMarketPredictor/v16/Browse.VC.db-wal
.vs/StockMarketPredictor/v16/ipch/41f6fa1f7b57c862.ipch
.vs/StockMarketPredictor/v16/Browse.VC.opendb
.vs/StockMarketPredictor/v16/ipch/eb1d53ae393ea31f.ipch
.vs/StockMarketPredictor/v16/ipch/58f8aa7b137a78f.ipch
.vs/StockMarketPredictor/v16/ipch/f480c08dc169e202.ipch
